{{#> layout title="Forgot Password" }}
  <table role="presentation">
    <tr>
      <td>
        <p style="margin:0">
         
          You are receiving this because you (or someone else) have requested the reset of the password for your account.
           <br/><br/>
          Please click on the following link, or paste this into your browser to complete the process:
          <p style="margin: 0 0 20px;">
          <a href="{{ link }}">{{ link }}</a>
        </p>
        If you did not request this, please ignore this email and your password will remain unchanged.
             <br/><br/>
        </p>
      </td>
    </tr>
  </table>
{{/ layout }}