{{#> layout title="Confirm your subscription" }}
  <table role="presentation">
    <tr>
      <td>
        <p style="margin: 0 0 20px;">
          Thank you for subscribing to our newsletter. Please complete and confirm your subscription by clicking on the
          link below
        </p>
        <p style="margin: 0 0 20px;">
          <a href="{{ link }}">{{ link }}</a>
        </p>
        <p style="margin: 0 0 20px;">
          If you received this email by mistake, simply delete it. You won't be subscribed if you don't click the
          confirmation link above.
        </p>
      </td>
    </tr>
  </table>
{{/ layout }}
