{{#> layout title="Welcome to Zuraaya" }}
  <table role="presentation">
    <tr>
      <td>
        <p style="margin:0">
         
          Welcome to Zuraaya. We’re thrilled to see you here!
           <br/><br/>
          Thanks for creating an account at ZURAAYA,and welcome!
          <br/><br/>
          Take care!
        </p>
      </td>
    </tr>
  </table>
{{/ layout }}
